<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./static/milligram.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inter:300">
    <link rel="stylesheet" href="./static/main.css">
</head>

<body>
    <main>
        <h1>Game Rooms</h1>
        <h4>
            {{public}} public rooms
            <br>
            {{private}} private rooms
        </h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Visibility</th>
                    <th>Host</th>
                    <th>Join Code</th>
                    <th>Players</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each rooms}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>
                        {{#if this.config.public}}
                        Public
                        {{else}}
                        Private
                        {{/if}}
                    </td>
                    <td>{{this.host}}</td>
                    <td>{{this.join_code}}</td>
                    <td>{{this.player_count}}{{#if this.config.size}}/{{this.config.size}}{{/if}}</td>
                    <td>{{strftime this.created "%H:%M"}}</td>
                    <td>
                        <a href="#">
                            <button class="btn info-button">
                                <i class="fa fa-lg fa-info"></i>
                            </button>
                        </a>
                        <a href="/room/{{this.join_code}}/delete">
                            <button class="btn close-button">
                                <i class="fa fa-lg fa-times"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>
</body>

</html>